.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
  text-decoration: none;
}

.dropdown-menu .dropdown-toggle::after {
  display: none;
}

img {
  max-height: 50px;
  border: 2px solid #fff;
  display: inline-block;
  width: 50px;
  height: 60px;
  border-radius: 100%;
}
